@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

* {
    margin: 0;
    padding: 0;
	/*-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
}

body {
    background-color: #f7f7f7;
    font-family: 'Roboto', sans-serif;
}

#header {
    /*min-width: 1300px;  Минимальная ширина header */
    width: 100%;
    border-bottom: 1px solid #b5b7ba; /* Параметры линии внизу */
    background-color: #dfdfdf;
    height: 70px; /* Высота блока */
    text-align: center;
}

/*#header #selected {
    color: #000;
}

#center {
    width: 1300px;
    margin: 0 auto;
}*/

#header a {
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 100;
    text-align: left;
    text-decoration: none;
    height: 70px;
    line-height: 70px;
    /*display: inline-block;*/
}

#header span {
    padding: 0 38px;
}

@media screen and (min-width: 1080px) {
    #content {
    	/*width: 100%;*/
        width: 1376px;
        margin: 0 auto; /*Сайт не будет расползаться в разные стороны при изменении размера в браузере.*/
    }
}
@media screen and (max-width: 1079px) {
    #content {
    	width: 100%;
    	margin: 0 auto; /*Сайт не будет расползаться в разные стороны при изменении размера в браузере.*/
        /*display: inline;*/
  	}
}

#center {
    height: auto; 
}

#center h1 {
    text-align: center;
    color: #2e353d;
    font-size: 40px;
    font-weight: 300;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 1px 1px white, 2px 2px white, -1px -1px white, -2px -2px white, -1px 1px white, 1px -1px white, -2px 2px white, 2px -2px white, -3px -3px 4px rgba(0,0,0,.3), -3px 3px 4px rgba(0,0,0,.3), 3px 3px 4px rgba(0,0,0,.3), 3px -3px 4px rgba(0,0,0,.3); 
}

#center h3 {
    color: #242424;
    font-size: 35px;
    font-weight: 300;
    text-align: left;
    margin-left: 41px;
    margin-bottom: 52px;
}

#center h5 {
    color:  #242424;
    font-size: 24px;
    text-align: left;
}

#center img {
    width: 30%;
    border-radius: 50%;
    margin-left: 2%;
    float: left;
}

#box_text {
    margin-left: 40%;
    margin-right: 2%;
    background-color: #ffffff;
    padding: 40px 40px 40px 40px;
}

#box_text p {
    color: #242424;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
}

#box_text p a button {
    font-size:24px;
    padding:5px 15px;
    background:#42A5F5;
    border:0px;
    border-radius:15px;
    color:white;
    margin: 10px 0 10px 0;
    transition:all 0.3s; /*время анимации*/
    outline: none; /*убирается рамка вокруг кнопки при нажатии мышью*/
}       

#box_text p a button:hover {
    background:white;
    color:#42A5F5;
}

#box_text img  {
    max-width: 30%;
    border-radius: 20%;
    /*float: left;*/
    border:1px solid #CCC;
	padding: 6px;
    margin: -6% 0 0 7%;
}

#box {
    background-color: #ffffff;
    margin: 10px 30px;
    padding-top: 40px;
    padding-left: 40px;
    overflow: auto;
}

#box p {
    color: #242424;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-top: 30px;
}

#box img {
    width: 30%;  
    float: right;
    margin-right: 14%;
    margin-bottom: 3%;
    border-radius: 50%;
}

#box a button {
    font-size:24px;
    padding:10px 20px;
    background:#42A5F5;
    border:0px;
    border-radius:15px;
    color:white;
    margin: 10px 0 10px 0;
    transition:all 0.3s; /*время анимации*/
    outline: none; /*убирается рамка вокруг кнопки при нажатии мышью*/
}

#box input {
    border: 1px solid #a0a0a0;
    background-color: #f5f5f5;
    width: 457px;
    height: 34px;
    padding-left:10px;
    font-size:20px;
    font-weight: 100;
    margin-bottom: 20px;
}

.clear {
    clear: both;
    height: 200px;
}

#content #result p {
    color: #DC143C;
    font-size: 27px; 
}

#footer { /* # == id */
    background-color: #434445;
    width: 100%;
    height: 70px;
    text-align: center;
    color: #a4a4a4;
    font-size: 20px;
    font-weight: 100;
    line-height: 70px;
    /*position: fixed;  Фиксированное положение
    bottom: 0;*/
    margin-top: 30px;
}

#footer a {
    color: inherit;
}

.meow {
    margin: -8% 0 5% 13%;
}

.meow h6 span {
    display: flex;
    display: inline-block;
    font-size: 50px;
}
    body:hover span { 
    animation: bounce .6s;
}
    @keyframes bounce {
    0%, 100% { 
    transform: translate(0); 
  }
    25% { 
    transform: rotateX(20deg) translateY(2px) rotate(-3deg); 
  }
    50% { 
    transform: translateY(-20px) rotate(3deg) scale(1.1);  
  }
}
span:nth-child(4n) { 
    color: hsl(50, 75%, 55%); 
    text-shadow: 1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); 
}
span:nth-child(4n-1) { 
    color: hsl(135, 35%, 55%); 
    text-shadow: 1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); 
}
span:nth-child(4n-2) { 
    color: hsl(155, 35%, 60%); 
    text-shadow: 1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); 
}
span:nth-child(4n-3) { 
    color: hsl(30, 65%, 60%); 
    text-shadow: 1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); 
}

#примеры { 
    margin-right: 25%; /* Отступ справа */
    margin-left: 25%; /* Отступ слева */
    background: #007083; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    text-align: justify; /* Выравнивание по ширине */
    width: 300px; /* Ширина блока */
    border: 1px solid #ccc; /* Параметры рамки */
    float: left; /* Выравнивает элемент по левому краю, а все остальные элементы, вроде текста, обтекают его по правой стороне */
    margin: 0 0 5px 5px; /* Отступы вокруг фотографии | сверху | справо | снизу | слева | */
    display: flex; /*отображает контейнер как блочный элемент*/
}
/*.my {position: relative; cursor:pointer; display: inline-block;}
.my img + img {position:absolute; left:200px; top:200px; z-index:100; display: none;}
.my:hover img + img {display: block;}*/
